.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: 'bands info';
  padding: 5em 30em;

  .bands {
    grid-area: bands;
    justify-self: center;

    button {
      border: 1px solid #2F518F;
      border-radius: 10px;
      color: white; 
      cursor: pointer;
      display: block;
      margin: 1em;
      padding: 1em 4em 1em 4em;
    }

    button:focus {
      background-color: #4472C4;
      outline: none;
    }

  }

  .info {
    grid-area: info;
    background-color: #4472C4;
    border-radius: 10px;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 'members albums'
      'management .';
    padding: 1em;

    .albums {
      grid-area: albums;
      background-color: #44536A;
      border-radius: 10px;
      margin: 1em;
    }

    .management {
      grid-area: management;
      background-color: #44536A;
      border-radius: 10px;
      margin: 1em;
    }

    .members {
      grid-area: members;
      background-color: #44536A;
      border-radius: 10px;
      margin: 1em;
    }

  }

}